<h1>Tweets</h1>

<div>
  <form method="get" action="/tweets">
    <div>
      <label>Longtitude</label>
      <input type="text" name="lon"/>
    </div>
    <div>
      <label>Latitude</label>
      <input type="text" name="lat"/>
    </div>
    <div>
      <label>Radius</label>
      <input type="text" name="radius"/>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

<div id="map" style="height: 400px; width: 600px; margin: 20px">
</div>

<div>
  <%- @tweets.each do |tweet| -%>
    <div>Tweet: <%= tweet.to_hash[:text] %></div>
    <div>Created at: <%= tweet.to_hash[:created_at] %></div>
  <%- end -%>
</div>

<script>
function initMap() {
  var coordinates = <%= @tweets.collect { |tweet|  tweet.to_hash[:geo]['coordinates'] } %>;
  var firstLatLng = { lng: coordinates[0][0], lat: coordinates[0][1] };
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: firstLatLng
  });

  for(var i =0; i < coordinates.length; i++) {
    var latlng = { lng: coordinates[i][0], lat: coordinates[i][1]};
    new google.maps.Marker({
      position: latlng,
      map: map,
      title: 'Tweet'
    });
  }
}
</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJQqHRJ_KB_lhem5rMVvEu2xJHFb6poGE&callback=initMap">
    </script>